@media only screen and (max-width: 600px) {
    .banner-section .top-content {
        margin-top: 50px;
    }
    .banner-section h1 {
        font-size: 31px;
        line-height: 1.5;

    }

    .banner-section h3 {
        font-size: 24px !important;
        line-height: 1.47;
    }
    
    /*.banner-section .top-content .col-lg-7 span{*/
    /*      font-size: 15px !important;*/
    /*}*/

    .banner-section .section-content-1 {
        margin-top: 20px;
    }

    .social-media-section {
        text-align: center;
    }

    .social-media-section .items {
        display: flex;
        justify-content: center;
    }

    .home-hero__s-border svg {
        display: none;
    }

    ul#pills-tab {
        border: 1px solid #c1bebe;
        padding: 19px 30px !important
    }

    ul#pills-tab li {
        justify-content: start !important;
        margin-top: 10px;
        border-bottom: 1px solid #c1bebe;
        border: 0 !important;
    }

    ul#pills-tab li:last-child {
        border: 0 !important;
    }

    ul#pills-tab li button {
        margin-bottom: 10px;
    }

    .service-section .tab-pane img {
        height: 300px;
        object-fit: fill;
    }

    .content-section h1 {
        line-height: 1.5;
        font-size: 19px;
    }

    .container-gallery-mobile .single-panel {

        padding: 10px;
        position: relative;
    }

    .container-gallery-mobile .gallery-img-2 {
        width: 100%;
    }


    .container-gallery-mobile .slider-overlay-text-2 {
        position: absolute;
        padding: 10px;
        text-align: center;
        bottom: 10px;
        color: #fff;
        z-index: 9;
    }

    .container-gallery-mobile .slider-overlay-text h2 {
        font-size: 18px;
        text-shadow: 5px 5px 9px #000000;

    }

    .container-gallery-mobile .slider-overlay-text-2 p {
        margin-top: 15px;
        font-size: 15px;
        text-shadow: 5px 5px 9px #000000;
    }

    .container-gallery-mobile .shadow-custome {
        position: absolute;
        width: 96%;
        padding: 0px 0px 200px 0;
        /* margin-top: -200px; */
        background-color: transparent;
        background-image: linear-gradient(180deg, #00000000 0%, #67bc45e8 99%);
    }

.pdct-slider:last:child{
    margin-bottom:0 !important;
}

    .products-section .content-part{
        padding-top:1rem !important;
    }

    .counter-section .sub-title {
        text-align: center;
        margin-top: 30px;
    }
    .counter-section .content-section-1, .counter-section .content-section-2{
        padding:35px 0 35px 0 !important;
    }
    .counter-section .content-section-2,.counter-section .content-section-2 h2{
        text-align:center !important;
    }
    
    .counter-section .content-section-2 .border-start{
        border:0 !important;
    }

    .counter-section .content-section-1 li {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    .counter-section li .number {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .counter-section li .text-content {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .counter-section h2 {
        font-size: 40px;
    }

    .content-section-2 .sub-title {
        text-align: start;
    }

    .counter-section .sub-title li {
        text-align: start !important;
    }

    .feature-projects h2 {
        font-size: 35px;
    }

    .feature-projects .carousel-item img {
        height: 500px
    }

    .feature-projects .carousel-caption h1 {
        font-size: 23px !important;
        white-space: normal !important;
        line-height: 1.3 !important;
    }

    .feature-products .slide-image img {
        width: 50vw;
    }

    .feature-products .slide-text {
        font-size: 15px;
        line-height: 1.2;
    }

    .feature-products .arrows {
        width: 60px;
        margin-top: 20px;
        margin-left: 50%;
        position: relative;
    }

    .feature-products .arrow {
        width: 10px;
        height: 10px;
    }

    .feature-products .slide-more {
        font-size: 10px;
    }

    .feature-products .slide-title {
        font-size: 10px;
        line-height: 1.2;
    }

    .section-title {
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: 35px;

        text-align: center;
    }

    .section-subtitle {
        margin-top: 10px
    }

    .section-subtitle {
        font-size: 20px;
    }

    .counter-section {
        margin-top: -15px;
    }

    .slider-overlay-text-2 h2 {
        font-size: 22px;
    }
    
    .why-choose-gadgeon{
        margin-top:6rem !important;
    }
    
    .icon-div{
        margin: 0 !important;
        position:relative;
        text-align: center;
    }
    .content-div .title{ 
             text-align: center; 
    }
      .content-div .points{ 
        font-size: 14px;    padding-left: 20px !important;
      }
      
      .col-lg-12.px-5{
          padding:0 !important;
      }
    
    .content-div{
        padding: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
      .second-section{
        margin-bottom:40px; 
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }
}

@media only screen and (max-width: 1250px) and (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1180px;
    }
}